/* Général */
body {
	font-family: 'Arial Black',Gadget,sans-serif;
	background: #000 !important;
}

tr{
	cursor:pointer;
}

.headerGeneral{
	border-right: solid black 2px;
	border-left: solid black 2px;
	background: #000;
}

.headerGeneral>img{
	max-width: 950px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #e3e3e3;
	text-decoration:none;
	
}
a:hover, a:focus {
	color: #FF4C00;
}

/* Contenu principal */
#content {
	color: #01020f;
	text-align:center;
	font-family: 'Arial';
}
#content a {
	color: #332510;
}
#content a:hover, #content a:focus {
	color: #6E5122;
}
#content strong {
	color: #181A12;
}

ol, ul {
	list-style: none;
}


/* --- POSITIONNEMENT --- */
.wrapp{ /*Contient le menu et le content*/
	margin-left:auto;
	margin-right:auto;
	width:950px;
	border-radius: 0px 0px 10px 10px;
	border: solid black 2px;
	min-height: 400px;
}

/* Menu de navigation */
#menu{
	width : 15%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	text-align:center;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu a {
	display: block;
	height: 1%; 
	padding: 6px 20px 20px 20px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

/* Contenu */
#content {
	
}
#content > :first-child {
	margin-top: 10px;
}
#content p, #content li {
	line-height: 1.5;
}


.formulaire{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	text-align:right;
}

.formulaire p{
	padding-top: 20px;
}

.photo{ /* div contenant photo, nom et prénom du trombi */
	float:left;
	margin:15px;
	width:170px;
	height:239px;
	font-family: 'Fondamento', cursive;

	border:1px solid #eee;
}

.photoG{
	float:left;
	margin:15px;
	width:170px;
	height:205px !important;
	font-family: 'Fondamento', cursive;

	border:1px solid #eee;
}

.btnAppel{
	width:50%!important;
    border-radius: 0px!important;
}

.btnPhotos{
	margin-top: 10px;
}

.divAppel{
	background: url("../images/ressouces/redCross.png");
}

.listAbs{
	min-width: 200px;
}

.clear{
	clear : both;
}

.affErreur{
	width:950px;
	margin : 10px;
	padding: 0;
}

.connexion{
	margin-top : 80px;
	padding:0 40px 0 40px!important;
}

.redMessage{
	color:red;
	font-size: 10pt;
	margin-left: 10px;
}

/* PAGES ABSENCE */

.uneAbsence{
	width: 92%;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;
	background-color: #EEE;

	/*radius : arrondi */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.uneAbsence > form{
	margin: 0;
}



/* FIN PAGES ABSENCE */




/* PAGES GESTION */
.headAbs{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.retourGestion{
	margin: 2px;
	padding: 5px;
	color: #fff;
	background-color: #5981f2;
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.retourGestion:hover{
	color: #5981f2;
	background-color: #fff;
	border: solid #5981f2 1px;
	text-decoration:none;
}

.headGest{
	padding: 10px 0px 0px 10px;
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.btnAdd{
	margin-left: 10px;
}

.time{
	width: 50px;
}

#btn_gestionUti{
	margin-bottom: 20px;
	margin-left: 10px;
}

.nav-pills{
	margin-left: auto;
	margin-right: auto;
}
.nav-pills > li{
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.headGest a{
	padding : 5px 20px 5px 20px;
	font-family: 'Arial Black',Gadget,sans-serif;
	text-decoration:none;
}
.headGest a:hover{
	background:#fff;
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.headGest > ul > .active{
	background: #ccc;
}

.formgest{
	width:95%;
	padding-top: 20px;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
}

.right {
	width:45%;
	float: right;
	margin-left:auto;
	margin-right:auto;
}

.tright{
	text-align: right;
}

.left {
	width:45%;
	float: left;
	margin-left:auto;
	margin-right:auto;
}

/*menu gestion*/

.menuGestion:after {
  clear: both;
}

.menuGestion > li {
  float: left;
}

.menuGestion > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.photoGestion{
	float: left;
	margin-left: 100px;
	width: 300px;
}

/* FIN PAGES GESTION */

.la404{
	margin: 80px;
}

.la404 span{
	margin: 30px;
	float: left;
}

.la404 img{
	float: left;
}



/*TEST*/
body{
	min-width: 300px;
}
.container{
	/*border:1px solid red;*/
	background: #fff;
	/*width:100%!important;*/

}
.row-fluid [class*="span"] {
   /* background: rgba(200, 54, 54, 0.5);*/
}

/*.row [class*="span"] {
    background: rgba(230, 204, 54, 0.5);
}*/

.bs-docs-example {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;

    top: -1px;
}